/* ------- body ------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins" , sans-serif;
    color: #222;
    margin: 0 0;
    padding: 0 0;
}
ul {
    list-style: none;
}
hr {
    border-top: 1px solid #d5d5d5!important;
}
.section_title {
    width: 100%;
    padding: 2rem 0;
    margin-bottom:3rem;
    font-size: 2.5rem;
    color: #fff;
    background-color: #13bf00;
}
.title_fz {
    font-size: 2rem;
    margin: 1.5rem 0;
}
.body_fz {
    font-size: 1.1rem;
}
.custum_margin {
    margin: 2rem 0;
}

/* ------- Navgation Section ------- */
.navbar {
    padding: .8rem;
}
.navbar-title {
    font-size: 2rem;
    color: #fff;
}
.navbar-title:hover {
    color: #fff;
}
.navbar-nav li {
    padding-right: 1.1rem;
}
.nav-link {
    font-size: 1.1rem;
}
.navbar-color {
    background-color: #13bf00;
    color: #fff;
}

/* ------- Header Section ------- */
.header {
    width: 100%;
}
.header-img {
    width: 100%;
}

/* ------- Explain Section ------- */
.explain_img {
    width: 40rem;
    height: 20rem;
}

/* ------- Use Section ------- */
.use_img {
    width: 25rem;
}

/* ------- Service Section ------- */
.card-img-top {
    width: 30rem;
    height: 30rem;
}

/* ------- Connect Section ------- */
#connect {
    background-color: #3f3f3f;
    color: #d5d5d5;
}
.connect_title {
    font-size: 2.0rem;
    padding: 1rem 0 0;
}

.social a{
    font-size: 2.0rem;
    padding: 2rem;
    color: #d5d5d5;
}
.fa-facebook:hover ,
.fa-twitter:hover ,
.fa-instagram:hover ,
.fa-youtube:hover {
    color: #13bf00;;
}







/* --
	Extra small (xs) devices (portrait phones, less than 576px)
	No media query since this is the default in Bootstrap

	Small (sm) devices (landscape phones, 576px and up)
	@media (min-width: 576px) { ... }

	Medium (md) devices (tablets, 768px and up)
	@media (min-width: 768px) { ... }

	Large (lg) devices (desktops, 992px and up)
	@media (min-width: 992px) { ... }

	Extra (xl) large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) { ... }
-- */
